.bookdiv {
    /* margin-top: 30px;
    margin-bottom: 60px;
    height: 700px;
    width: 500px;
    margin-left: auto;
    margin-right: auto; */
    display: inline-block;

}

.bookdiv Carousel.Caption {
color: black;
}
Card {
    display: inline-block;
}

Button {
    margin-left: 10px;
}